body, html{width:100%; height:100%; margin:0}


/*-------------------------------------VideoPlayer-------*/

#play{ background-color:transparent; font-family: 'Quattrocento', serif; font-size:20px; border: solid #fff thin}
#restart{ background-color:transparent; font-family: 'Quattrocento', serif; font-size:20px; border: solid #fff thin}
#buttonbar{ margin-top:-70px;}
button:focus {
  outline-color: transparent;
  outline-style: none;
}



/*-------------------------------------SLIDER--------*/
.firstcharacter { float: left; color: #c0392b; font-size: 100px; line-height: 90px; padding-top: 2px; padding-right: 30px; padding-left: 3px; font-family: Quattrocento; font-weight:700; }


/*-------------------------------------MAP--------*/


     
#map {width: 300px;
    height: 700px ;
    z-index:110;
    }

@font-face
{
font-family: archive;
src: url(../font/Archive.otf);
}

.quotation-mark{ font-family: archive; font-size:50px; color:#282828 }
.quotation-mark em{ color:#c0392b; font-style:normal; }

/*-------------------------------------PARALLAX--------*/     



          
#parallax{ background-image:url(../img/bg_parallax.jpg); 
            background-attachment:fixed;
            background-size:cover; 
            z-index:1;    
            height: 0;
            padding-top: 35%;
            background-position: center !important;
            background-attachment: fixed !important;
            -webkit-background-size: cover !important;
            -moz-background-size: cover !important;
            -o-background-size: cover !important;
            background-size: cover !important;
            width: 100%;
            float: right;
            margin-left: 0;
            margin-right: 0;
            clear: none;
            overflow: visible !important;
            overflow-x: visible;
            overflow-y: visible;
              }
          
          .overlay {position: relative;}

.overlay q {font-size:50px;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0;
            padding: 3em 8%;
            background-color: rgba(40,40,40 ,0.80);
            color: #fff ;
            font-family:archive;
            -webkit-transition: all 2s;
            -moz-transition: all 2s;
            -o-transition: all 2s;
            transition: all 2s;
            -webkit-filter: opacity(1);
            opacity:1;
            }
          
    .cont:hover .overlay q {padding-top: 5em; -webkit-filter: opacity(0); opacity:0;}   
          
          
          
/*-------------------------------------COVERS--------*/     

.bg-01{ height:100%;
        width:100%;
        background-color:#000;
        padding:100px;
        text-align:center;
        color:#FFF}
          

          
/*-------------------------------------Interactive Div--------*/ 
#block{
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #323232;
   margin-top:20px;
    margin-left:8%;
}


#title {letter-spacing:7px;}
#title strong {color: #c0392b}

#small-text { font-size:90%; color:#999}
          
          
input[type=range] {
    -webkit-appearance: none;
    background-color: silver;
    width: 79%;
    height:36px;
    margin:0
}

input[type="range"]::-webkit-slider-thumb {
     -webkit-appearance: none;
    background-color: #e74c3c;
    
    width: 10px;
    height: 36px;
}
     
#playpausebtn {
    float:left;
    background-color:#e74c3c;
    padding:9.5px;
    margin-top:0;
    color:#fff;
    width:10%;
}

#playpausebtn:hover {
    cursor:pointer;
    background-color:#c0392b;
   
}

#seekslider {
    margin:0
}

#mutebtn {
    float:right;
    background-color:#e74c3c;
    padding:9.5px;
    margin-top:0;
    width:10%;
    color:#fff
}

#mutebtn:hover {
    
    background-color:#c0392b;
}



#video_controls_bar {
    
}
